<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="image">
        <div class="hover">
            <img src="css/animated-colorful-landscape-wallpaper.jpg" alt="nowrking">
        </div>
        <div class="msg">
            <h5>Details...<br>Topic : Error page handling in express <br> <span> show an error page if user tries to
                    access a page which doesnt exist in the server.

                    <br>Code: <br><span>app.get("*",(req,res)){ // * astarick is use for all pages which user tries to
                        access that doesnot exist in server. <br>res.render("errorPage",{ ,<br>
                        mainTopic:"404 handeling",
                        topic :error page
                        });<br>}</span>
                    <br>
            </h5>
        </div>
    </div>
</body>

</html>