<div class="image">
    <div class="hover">
        <h1 style="position: absolute;">Welcome <span class="common">{{userName}} </span>! you are visiting <span
                class="common">{{pageName}}</span> and you are here to buy
            <span class="common">{{shoping}}</span> </h1>
        <img src="css/animated-colorful-landscape-wallpaper.jpg" alt="nowrking">
    </div>
    <div class="msg">
        <h5 style="text-align: center;">Details...<br>Topic : String qurey url parameters <br> <span>
                http://localhost:8000/?userName=value&shoping=value ? questionmark show that <br> user query starts
                from
                here and & operator in url is use <br> to separate two queries in this case we have two key:value
                paires
                <br> 1 :
                UserName=value <br> 2 : shoping=value
                <br>Code: <br><span>req.string.key/userName <br> req.string.key/shoping</span>
        </h5>
    </div>
</div>