<div class="nav">
    <div class="logo">
        <p> {{mainTopic}}</p>
    </div>
    <div class="navBtn">
        <div class="btn1">
            <button class="btnStyle active" onclick="window.location.href='http://localhost:8000/'">Home</button>
        </div>
        <div class="btn2">
            <button class="btnStyle" onclick="window.location.href='http://localhost:8000/about'">About</button>
        </div>
        <div class=" btn3">
            <button class="btnStyle"
                onclick="window.location.href='http://localhost:8000/showErrorPage'">{{topic}}</button>
        </div>
    </div>
</div>