<div class="image">
    <div class="hover">
        <p style="position: absolute; color:white;">Check the console to see the result of available temperature</p>
        <img src="css/weatherImage.jpg" alt="nowrking">
    </div>
</div>