<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/currencyConvertor.css">
</head>

<body>
    {{>header}}
    {{>currencyConv}}
    {{>footer}}
</body>
<script src="js/currencyConvertor.js"></script>

</html>