<h2>CURRENCY CONVERTOR</h2>
<div class="mainCont">

    <form>
        <div class="common amount"><label>Amount : </label>
            <input type="text" name="amount" id="amount">
        </div>

        <div class="common from">
            <label for="from">From : </label>
            <select name="from" id="from" class="lists">
                <!-- <option value="USD">USD</option>
                    <option value="INR">INR</option>
                    <option value="PKR">PKR</option>
                    <option value="GBP">GBP</option> -->
            </select>
        </div>

        <div class="common  to">
            <label for="to">To : </label>
            <select name="to" id="to" class="to lists">
                <option value="PKR">PKR</option>
                <option value="INR">INR</option>
                <option value="USD">USD</option>
                <option value="GBP">GBP</option>
            </select>
        </div>
        <div class="common submit lists"><button type="button" value="button" id="button"
                placeholder="Result">SUBMIT</button>
        </div>
        <div class="common result">
            <label>Result : </label>
            <input style="color: green;font-size: 0.75rem;
                font-weight: bold;" type="text" name="result" id="Result" readonly>
        </div>
    </form>
</div>