<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/index.css">
    <title>Document</title>
</head>

<body>
    <div class="footer">
        <p>Copyright @ 2020 Partials in Express</p>
    </div>
</body>

</html>