<div class="centerDiv">
    <div class="foodNutApp">
        <div class="mainImg">
            <img src="https://www.heartfoundation.org.au/getmedia/606a0e4f-d923-43b1-9bfb-367239802de3/Heart_Foundation_dietary_advice_WEBSITE.png"
                alt="" srcset="">
        </div>
        <div class="userInput">
            <input type="text" name="" id="food" placeholder="Search Food ...">
            <button id="submit" class="btn"><i class="fas fa-search"></i></button> </div>
        <div class="inputImage">
            <img src="css/dummyApple.jpg" alt="" srcset="">
        </div>
        <div class="foodDetails">
            <h4>NURTITIONS :-</h4>
            <div class="Enerc_Kcal">
                <p style="font-size: 12px;" class="Enerc_Kcal">Enerc_Kcal</p>
                <p class="Enerc_Kcal">23</p>
            </div>
            <div class="PROCNT">
                <p style="font-size: 12px;" class="PROCNT">PROCNT</p>
                <p class="PROCNT">232</p>
            </div>
            <div class="FAT">
                <p style="font-size: 12px;" class="FAT">FAT</p>
                <p class="FAT">{{%FAT%}}</p>
            </div>
            <!-- <div class="CHOCDF">
                    <p style="font-size: 12px;" class="NOCrecentDeathsTitle">CHOCDF</p>
                    <p class="NOCrecentDeaths">2</p>
                </div> -->
            <div class="FIBTG">
                <p style="font-size: 12px;" class="NOCtotalTestsTitle">FIBTG</p>
                <p class="NOCtotalTests">3</p>
            </div>
        </div>
    </div>
</div>